@media only screen and (min-width: 680px)

{
	nav ul {
		text-align: center;

	}

	nav ul li {
		display: inline-block;
		border-top: 0;
	}

	nav ul li a {
		padding: 1em;
	}

	.logo {
		padding-top: .5em;
		max-width: 50%;

	}
	
	.main-content-home h1 {
		padding-top: 3em;
	}

	.main-content-contact h1 {
		padding-top: 2em;
	}

	form {
		padding-left: 10%
	}




.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
  }
  
.welcome {
	border: 2px solid black;
    padding: 25px;
	background: url(../assets/images/puzzle.jpg);
	background-repeat: no-repeat;
	background-size: auto;
}

body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}


li{
    display:inline-block;
    width: 15%;
}


img{ 
    width: 70%
}


